.card {
  width: 50%;
  margin: 1rem;
  background-color: #faf0f0;
}
.avatar {
  width: 100%;
}

h2 {
  color: red;
  margin: 15px 15px 5px 15px;
}
.intro {
  padding: 10px;
}
.skill {
  border: 5px solid rgb(243, 223, 193);
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  border-radius: 20%;
  background-color: bisque;
}
